html {
    height: 100%
}

body {
    margin: 10px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

#app {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.row {
    background-color: #ece1f8;
    padding: 20px;
    margin: 10px;
    display: flex;
    gap: 10px;
}

.remain {
    background-color: #ece1f8;
    padding: 20px;
    margin: 10px;
    flex: 1;
}

.animal {
    background-color: #ece1f8;
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.gallery {
    display: grid;
    gap: 20px;

    width: 100%;
    grid-template-columns: repeat(2, 1fr)
}

.photo-card {
    text-align: center;
}

.photo-card img {
    width: 100%;
    height: 485px;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
}

.photo-ind img {
    width: 300px;
    height: 400px;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
}

.photo-ind {
    text-align: center;
}

.gallery-ind {
    display: grid;
    gap: 20px;

    width: 100%;
    grid-template-columns: repeat(4, 1fr)
}

.gallery-ind img{
    width: 100%;
    height: 300px;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
}
